apiVersion: v1
items:
- apiVersion: v1
  kind: Service
  metadata:
    name: hi-dev-service
    namespace: stg 
  spec:
    ports:
    - port: 80
      protocol: TCP
      targetPort: 8080
    selector:
      app: hi-dev
    sessionAffinity: None
    type: ClusterIP
  status:
    loadBalancer: {}
kind: List
metadata:
  resourceVersion: ""
